* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #000;
  text-decoration: none;

  &.orange {
    color: orange;
  }

  &:hover {
    text-decoration: underline;
  }
}
