.header {
  &__intro {
    color: #fff;
    font-size: 4rem;
    font-weight: 300;
    margin: 0;
    max-width: 800px;

    @mixin atSmall {
      font-size: 5rem;
    }

    @mixin atMedium {
      font-size: 6rem;
    }
  }

  &__vertical-link {
    color: #fff;
    display: none;

    @mixin atMedium {
      animation-name: blink;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
      bottom: 0;
      cursor: pointer;
      display: inline-block;
      letter-spacing: 2px;
      position: fixed;
      right: 20px;
      text-decoration: overline;
      z-index: 1;
      bottom: auto;
      right: 0;
      transform: rotateZ(90deg);
      transform-origin: 10% 50%;
    }
  }
}
