.hr {
  border: 0;
  border-top: 1px solid #000;
  display: block;
  height: 1px;
  padding: 0;
  width: 7%;

  &--white {
    border-color: #fff;
  }

  &--thin {
    border-bottom: 0;
  }

  &--wider {
    width: 15%;
  }

  &--b-margin {
    margin-bottom: 25px;

    &-medium {
      margin-bottom: 50px;
    }

    &-large {
      margin-bottom: 75px;
    }
  }
}
